@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-light-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-light-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


.poppins-light-900 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}